*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 258px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  "header header"
  "sidenav main";
  height:100vh;
}

.header{
  grid-area:header;
  display:flex;
  background-color: #333333;
  font-family: 'Russo One', sans-serif;
  justify-content: space-between;
  color:white;
  border-bottom: 1px solid gray;
  align-items:center;
}
.header .title{
  font-size: 20.5px;
  margin-left: 12px;
}

.sidenav {
  display: inline-block;
  grid-area:sidenav;
  background-color: #333333;
}
.sidenav a {
  padding: 20px 20px 20px 20px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color:white;
  text-decoration: none;
  display: block;
  border-top: 1px solid transparent;
  border-left: 4px solid transparent;
}

.sidenav a:hover{

  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 4px solid orange;
  cursor: pointer;
}

.main{
background-color: 	rgb(238, 238, 238);
grid-area: main;
display: grid;
grid-template-columns: 1fr 300px;
grid-template-rows: 110px 110px 330px 1fr;
column-gap: 10px;
row-gap: 10px;
}
.icons{
  color:gray;
  margin-right: 10px;
}
.title-icons{
  margin-right: 10px;
}

.title-icons i{
  margin: 10px;
}

.status{
grid-area:status;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
background-color:white;
position: relative;
}
.row-1{
  margin-left: 78px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}
.row-2{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.status-icon{
  font-size: 25px;
  color: green;
  margin-left:20px;
}
.status-desc{
  font-size: 25px;
  margin-left:25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color:gray;
}
.status-section{
  font-size: 15px;
  margin-left:25px;
  margin-top: 7.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color:gray
}
.status-icons{
  font-size: 20px;
  color:rgb(103, 133, 142);
  margin-left:450px;
}
.status-icons i{
  margin-left: 20px;
}
.status-icons select{
  margin-left: 20px;
  width:150px;
  height:auto;
  padding-top: 5px;
  outline: gray;
  font-family: 'Roboto', sans-serif;
}

.row-3{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.row-3-icons{
  font-size: 20px;
  margin-left: 79px;
  color:orange;
}
.circles{
  font-size: 10px;
  margin-top: 5px;
  margin-left:20px;
}

.circle-text{
  margin-left : 7px;
  color:gray;
  font-family: 'Roboto', sans-serif;
}
.notification{
  background-color: green;
  grid-column-start: 2;
  grid-column-end:3;
  box-shadow:1px 1px 5px 2px #ccc;
  border: 10px solid white;
  position: relative;
}
.notif-inner{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  color:white;
  left: 40px

}
.notif-inner i{
  position: relative;
  left:237px;

}
.notif-inner b{
  position: relative;
  top:30px;
}


.screenflow{
  background-color: 	rgb(238, 238, 238);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end:3;
}

.case{
  background-color: white;
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 3;
  grid-row-end:5;
  box-shadow:1px 1px 5px 2px #ccc;
  margin-bottom: 15px;
  margin-left: 8px;
}

.information{
  background-color:white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:4;
  box-shadow:1px 1px 5px 2px #ccc;
  text-align: justify;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.information li{
  margin-left: 30px;
  margin-top: 10px;
}
