*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* grid-container */
.grid-container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 258px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  "header header"
  "sidenav main";
  height:100vh;
}
/* header */
.header{
  grid-area:header;
  display:flex;
  background-color: #333333;
  font-family: 'Russo One', sans-serif;
  justify-content: space-between;
  color:white;
  border-bottom: 1px solid gray;
  align-items:center;
}
.header .title{
  font-size: 20.5px;
  margin-left: 12px;
}
/* sidenavigation  */
.sidenav {
  display: inline-block;
  grid-area:sidenav;
  background-color: #333333;
}
.sidenav a {
  padding: 20px 20px 20px 20px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color:white;
  text-decoration: none;
  display: block;
  border-top: 1px solid transparent;
  border-left: 4px solid transparent;
}
.fas.fa-chevron-down.accordion-icon{
  margin-left: 120px;
  color:  gray;
}

.sidenav a:hover{

  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 4px solid orange;
  cursor: pointer;
  color:orange;
}
.sidenav a:hover i{
  color:orange;
}

.recents{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  height: 200px;
}
.recents-list{
  list-style-type:none;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.recents-item:hover{
  color:orange;
}

/* main body */
.main{
background-color: 	rgb(238, 238, 238);
grid-area: main;
display: grid;
grid-template-columns: 1fr 300px;
grid-template-rows: 110px 110px 330px 1fr;
               column-gap: 10px;
row-gap: 10px;
}
.icons{
  color:gray;
  margin-right: 10px;
}
/* title bar */
.title-icons{
  margin-right: 10px;
}

.title-icons i{
  margin: 10px;
}
/* status bar */
.status{
grid-area:status;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
background-color:white;
position: relative;
}
.row-1{
  margin-left: 78px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}
.row-2{
  display: flex;
  justify-content:space-between;
  margin-top: 10px;
  flex-direction:row

}
.row-2-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.status-icon{
  font-size: 25px;
  color: green;
  margin-left:20px;
}
.status-desc{
  font-size: 25px;
  margin-left:25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color:gray;
}
.status-section{
  font-size: 15px;
  margin-left:25px;
  margin-top: 7.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color:gray
}
.status-icons{
  font-size: 20px;
  color:rgb(103, 133, 142);
  margin-right: 10px;
}
.status-icons i{
  margin-left: 20px;
}
.status-icons select{
  margin-left: 20px;
  width:150px;
  height:auto;
  padding-top: 5px;
  outline: gray;
  font-family: 'Roboto', sans-serif;
}

.row-3{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.row-3-icons{
  font-size: 20px;
  margin-left: 79px;
  color:white;
}

.row-3-label{
  font-size: 10px;
  background-color: rgb(103, 133, 142);
  display: inline-block;
  padding: 1px 10px 1px 10px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}
.row-3-label::before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 10px solid rgb(103, 133, 142);
  border-bottom: 7px solid transparent;
  right:101px;
  bottom: 0.3px;
}
.circles{
  font-size: 10px;
  margin-top: 5px;
  margin-left:20px;
}

.circle-text{
  margin-left : 7px;
  color:gray;
  font-family: 'Roboto', sans-serif;
}
/* notification box */
.notification{
  background-color: green;
  grid-column-start: 2;
  grid-column-end:3;
  box-shadow:1px 1px 5px 2px #ccc;
  border: 10px solid white;
  position: relative;
  margin-right: 10px;
}
.notif-inner{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  color:white;
  left: 40px;

}
.notif-inner i{
  position: relative;
  left:237px;

}
.notif-inner b{
  position: relative;
    top:30px;
}
/* case area */
.case{
  background-color: white;
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 3;
  grid-row-end:5;
  box-shadow:1px 1px 5px 2px #ccc;
  margin-bottom: 15px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}
#Business-Case{
   font-family: 'Roboto', sans-serif;
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 30px;
}
#Business-Case::after{
  content: "* indicates required field";
  font-size: 12px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
.textarea-labels{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.form{
  display: flex;
  flex-direction: column;
}
.input{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}
.input textarea{
  flex:1 1 130px;
  width: 95%;
  margin-bottom: 40px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 5%;
  margin-bottom: 25px;
}
.button-style{
  text-decoration:none;
  display: inline-block;
  float: left;
  width: 120px;
  text-align: center;
  color:black;
  transition: all 0.2s ;
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  background: #d1d1d1;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 10px 0 10px 0;
  height:30px;
  line-height: 30px;
}

.right-buttons .button-style{
  margin-left: 10px;
}
/* screenflow */
.screenflow{
  background-color: 	rgb(238, 238, 238);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end:3;
}
#arrowlayout {
margin: 30px -10px -10px -8px;
}

#arrowlayout li {
    display: inline-block;
    /* height: 60px; */
    line-height: 40px;
    width: 19%;
    margin: 5px 1px 0 0;
    position: relative;
}

#arrowlayout li:before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    left: -1px;
    border-style: solid;
    border-width: 18px 0 20px 18px;
    border-color: transparent transparent transparent #fff;
    z-index: 0;
}

#arrowlayout li:first-child:before {
    border-color: transparent;
}

#arrowlayout li a:after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    right: -18px;
    border-style: solid;
    border-width: 18px 0 22px 18px;
    border-color: transparent transparent transparent #373C43;
    z-index: 10;
}

#arrowlayout li.active a {
    background: #367AB5;
    z-index: 100;
    border-top-left-radius: 8px;
}

#arrowlayout li.active a:after {
    border-left-color: #367AB5;
}

#arrowlayout li.active.last a{
    border-top-right-radius: 8px;
}

#arrowlayout li.active.last a:after {
    right: 0px;
}


#arrowlayout li.last a{
    border-top-right-radius: 8px;
}

#arrowlayout li.last a:after {
    right: 0px;
}

#arrowlayout li a {
    display: block;
    background: #373C43;
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 5px;


}

#arrowlayout li a:hover {
    background: #367AB5;
}

#arrowlayout li a:hover:after {
    border-color: transparent transparent transparent #367AB5;
}
/* information box */
.information{
  background-color:white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:4;
  box-shadow:1px 1px 5px 2px #ccc;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
}
.information ul{
  /* margin-top:5px; */
  margin-bottom:5px;
}
.information-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 30px;
}
