.sidenav {
  height: 80%;
  width:20%;
  background-color: #111;
  position: fixed;
  z-index: 1;
  top:0;
  transition: 0.5s;
  margin-top: 50px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color:white;
  text-decoration: none;
  display: block;
  border-top: 1px solid transparent;
  border-left: 4px solid transparent;
}

.sidenav a:hover{
  background-color: rgb(128,128,128,0.9);
  border-top: 1px solid;
  border-left: 4px solid orange;
}
.icons{
  color:white;
  margin-right: 10px;

}
.header{
  height: 40px;
  text-align: :center;
  background: black;

}
